# git
.git
.gitignore

# build local
bin/
obj/

# configs locais e segredos
.env
appsettings.Development.json
secrets.json

# ide
.idea/
.vscode/
.vs/

# docker
Dockerfile
.dockerignore
compose.yaml
compose.local.yaml
compose.prod.yaml
Taskfile.yaml

# docs
README.md
LICENSE.txt