MSSQL_CONNECTION=Server=;Database=;User Id=;Password=;TrustServerCertificate=True;

REDIS_PASSWORD=

API_PORT=8080
REDIS_PORT=6379

JWT__SECRET=
JWT__ISSUER=NeonVertexApi
JWT__AUDIENCE=NeonVertexApi
JWT__EXPIRATIONHOURS=24
