# Conexão com o banco de dados SQL Server
MSSQL_CONNECTION=Server=;Database=;User Id=;Password=;TrustServerCertificate=True;

# JWT
JWT__SECRET=
JWT__ISSUER=NeonVertexApi
JWT__AUDIENCE=NeonVertexApi
JWT__EXPIRATIONHOURS=24
